<header class="header-text">
   <div class="row">
      <div class="col-md-2">
         <img src="assets/images/ample-logic.png" width="150px">
      </div>
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-3">
               <img src="/assets/images/organization.png" width="25px" class="mr-3">
               <span style="margin-left: 10px;">
                  <b>Organization Structure</b>
               </span>
               <i class="fas fa-light fa-angle-down" style="color: #4a4c4f;margin-left: 10px;"></i>
            </div>
            <div class="col-md-3">
               <img src="/assets/images/configurations.png" width="25px">
               <span style="margin-left: 10px;">
                  <b>Conigurations</b>
               </span>
               <i class="fas fa-light fa-angle-down" style="color: #4a4c4f;margin-left: 10px;"></i>
            </div>
            <div class="col-md-2">
               <img src="/assets/images/reports.png" width="25px">
               <span style="margin-left: 10px;">
                  <b>Reports</b>
               </span>
               <i class="fas fa-light fa-angle-down" style="color: #4a4c4f;margin-left: 10px;"></i>
            </div>
            <div class="col-md-2">
               <img src="/assets/images/etl.png" width="25px">
               <span style="margin-left: 10px;">
                  <b>ETL</b>
               </span>
               <i class="fas fa-light fa-angle-down" style="color: #4a4c4f;margin-left: 10px;"></i>
            </div>
         </div>
      </div>
      <div class="col-md-2">
         <div class="row">
            <div class="col-md-3">
               <img src="/assets/images/country.jpg" width="40px">
            </div>
            <div class="col-md-3">
               <img src="/assets/images/bell.svg" width="40px">
               <span class="badge"></span>
            </div>
            <div class="col-md-3">
               <img src="/assets/images/image.jpg" width="40px">
            </div>
         </div>
      </div>
   </div>
 </header>
 